<h2 style="text-align: center;">Add Product</h2>

<div class="container form-outerdiv">
  <div class="form-div">
    <form action="">
      <div class="input-div mt-3">
        <label class="inp-label" for="">ID</label>
        <span class="form-coln">:</span>
        <input class="addform-inputs form-control" placeholder="id" type="text" required>
      </div>
      <div class="input-div">
        <label class="inp-label" for="">Product Name</label>
        <span class="form-coln">:</span>
        <input class="addform-inputs form-control" placeholder="name" type="text" required>
      </div>
      <div class="input-div">
        <label class="inp-label" for="">Category Id</label>
        <span class="form-coln">:</span>
        <input class="addform-inputs form-control" placeholder="category id" type="text" required>
      </div>
      <div class="input-div">
        <label class="inp-label" for="">Description</label>
        <span class="form-coln">:</span>
        <input class="addform-inputs form-control" placeholder="description" type="text" required>
      </div>
      <div class="input-div">
        <label class="inp-label" for="">Price</label>
        <span class="form-coln">:</span>
        <input class="addform-inputs form-control" placeholder="price" type="text" required>
      </div>
      <div class="input-div">
        <label class="inp-label" for="">Stock Available</label>
        <span class="form-coln">:</span>
        <input class="addform-inputs form-control" placeholder="stock available" type="text" required>
      </div>
      <div class="input-div">
        <label class="inp-label" for="">Image</label>
        <span class="form-coln">:</span>
        <input class="addform-inputs form-control" placeholder="image link" type="text" required>
      </div>
      <div class="input-div">
        <label class="inp-label" for="">Rating</label>
        <span class="form-coln">:</span>
        <input class="addform-inputs form-control" placeholder="rating" type="text" required>
      </div>
      <div class="input-div">
        <label class="inp-label" for="">Review</label>
        <span class="form-coln">:</span>
        <input class="addform-inputs form-control" placeholder="reviews" type="text" required>
      </div>
      <div class="input-div">
        <label class="inp-label" for="">Vendor Name</label>
        <span class="form-coln">:</span>
        <input class="addform-inputs form-control" placeholder="vendor name" type="text" required>
      </div>
      <div class="input-div">
        <label class="inp-label" for="">Warranty</label>
        <span class="form-coln">:</span>
        <input class="addform-inputs form-control" placeholder="warranty" type="text" required>
      </div>
      <div style="display: flex; align-items: center; justify-content: center;" class="mt-4">
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>

    </form>
  </div>

</div>
